# Vagrant files and folders.
.vagrant/
.vagrant.d/

# MaxMind data files.
*.mmdb

# Temp files and folders.
.*.swp

# Build outputs.
pkg/
bin/

# External source.
src/golang.org/
src/github.com/oschwald/