[Unit]
Description=Network geo-location service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker kill net-location
ExecStartPre=/usr/bin/docker rm net-location
ExecStartPre=/usr/bin/docker pull asteere/netlocation
ExecStart=/usr/bin/docker run --name net-location -P -d -t asteere/netlocation
ExecStop=/usr/bin/docker stop net-location

[X-Fleet]
Conflicts=net-location@*.service
