[Unit]
Description=nginx load balancer aka reverse proxy
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull asteere/nginx
ExecStart=/usr/bin/docker run --name nginx -location -P -d -t asteere/nginx
ExecStop=/usr/bin/docker stop nginx

[X-Fleet]
Conflicts=net-location@*.service
