[Unit]
Description=MongoDB service %m %H:%i
After=docker.service
Requires=docker.service

[Service]
# From: https://www.digitalocean.com/community/tutorials/how-to-create-flexible-services-for-a-coreos-cluster-with-fleet-unit-files
# Change killmode from "control-group" to "none" so Docker remove works correctly.
KillMode=none

# Allow access to environment variables.
EnvironmentFile=/etc/environment

# Pulling the container the first time can take more than the default 90 secs. Set to 0 for no timeout.
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/usr/bin/docker pull marklarter/centos-mongodb

ExecStart=/usr/bin/docker run --name %p -p ${COREOS_PUBLIC_IPV4}:49160:8080 marklarter/centos-node-netlocation node /src/index.js

ExecStop=/usr/bin/docker stop %p

[X-Fleet]
Conflicts=netlocation@*.service
Conflicts=nginx@*.service
