[Unit]
Description=load balancer %p.%i on host %H in container %m
After=docker.service
Requires=docker.service

[Service]
# From: https://www.digitalocean.com/community/tutorials/how-to-create-flexible-services-for-a-coreos-cluster-with-fleet-unit-files
# Change killmode from "control-group" to "none" so Docker remove works correctly.
KillMode=none

# Allow access to environment variables.
EnvironmentFile=/etc/environment

# Pulling the container the first time can take more than the default 90 secs. Set to 0 for no timeout.
TimeoutStartSec=0

#ExecStartPre=-/usr/bin/docker kill %p.%i
#ExecStartPre=-/usr/bin/docker rm %p.%i
ExecStartPre=/usr/bin/docker pull marklarter/nginx

ExecStart=/usr/bin/docker run --rm --name %p.%i -p 80:80 -e HOST_IP=${COREOS_PUBLIC_IPV4} marklarter/nginx

ExecStop=/usr/bin/docker kill %p.%i

[X-Fleet]
Conflicts=nginx@*.service
Conflicts=netlocation@*.service
